:root {
  --bg-color: #2e2d33;
  --bg-app: #403f4d;
  --bg-items: #4e4e5c;
  --bg-inputs: #2e2d33;
  --text-color: #fbfafb;
  --text-accent: #bdbcbc;
  --accent-green: #5eb190;
  --accent-yellow: #c4c572;
  --accent-red: #b5615b;
  --font-primary: 'Helvetica Neue', sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  --box-shadow-btn: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica'), local('Helvetica-Medium'),
    url('../fonts/helvetica-medium.woff2') format('woff2'),
    url('../fonts/helvetica-medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Bold'), local('Helvetica-Bold'),
    url('../fonts/helvetica-bold.woff2') format('woff2'),
    url('../fonts/helvetica-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-weight: 600;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
}

button {
  font-family: var(--font-primary);
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: var(--text-color);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.todo__box {
  text-align: center;
}

.todo__logo {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .todo__logo {
    width: 150px;
  }
}

.todo__title {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .todo__title {
    font-size: 60px;
    margin: 10px 0;
  }
}

.todo__slogan {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 10px 0;
  color: var(--text-accent);
}

@media screen and (min-width: 768px) {
  .todo__slogan {
    font-size: 24px;
    margin: 20px 0;
  }
}

.todo__container {
  background-color: var(--bg-app);
  padding: 16px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .todo__container {
    padding: 60px;
  }
}

.todo__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.todo__year-box {
  display: flex;
  align-items: center;
}

.todo__day {
  font-size: 48px;
  margin-right: 8px;
}

.todo__month {
  font-size: 20px;
}

.todo__year {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-accent);
}

.todo__week-day {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-accent);
}

.todo__weather-icon {
  width: 60px;
  cursor: pointer;
}

.todo__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.todo__nav {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .todo__nav {
    width: 620px;
  }
}

.todo__filter-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .todo__filter-list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.todo__filter-btn {
  font-size: 16px;
  height: 40px;
  border-radius: 3px;
  background-color: var(--bg-items);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .todo__filter-btn {
    font-size: 18px;
  }
}

.todo__filter-btn:hover {
  background-color: var(--bg-inputs);
  box-shadow: var(--box-shadow-btn);
}

.todo__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .todo__form {
    width: 620px;
  }
}

.todo__wrap {
  display: flex;
}

.todo__select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.todo__select-wrapper::after {
  content: '▼';
  font-size: 24px;
  color: var(--text-color);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.todo__select-wrapper:hover::after {
  transform: translateY(-50%) scale(1.1);
  opacity: 0.7;
}

.todo__select {
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  color: var(--text-color);
  background-color: var(--bg-inputs);
  padding-right: 50px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.todo__input {
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: var(--bg-inputs);
  color: var(--text-color);
  padding: 10px 60px 10px 10px;
}

.todo__submit-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.todo__submit-btn:hover {
  transform: translateY(-50%) scale(1.1);
  opacity: 0.7;
}

.todo__list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}

.todo__item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 3px;
  padding: 10px;
  background-color: var(--bg-items);
}

@media screen and (min-width: 768px) {
  .todo__item {
    width: 620px;
    gap: 30px;
  }
}

.todo__svg {
  height: 40px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.todo__svg:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.todo__description {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: auto;
}

.todo__priority {
  position: absolute;
  top: -16px;
  left: 10px;
  font-size: 14px;
  font-weight: 600;
}

.todo__priority--green {
  color: var(--accent-green);
}

.todo__priority--yellow {
  color: var(--accent-yellow);
}

.todo__priority--red {
  color: var(--accent-red);
}

.todo__text--done {
  text-decoration: line-through;
  text-decoration-color: var(--bg-items);
  text-decoration-thickness: 3px;
}

.todo__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.todo__actions {
  display: flex;
  gap: 2px;
}

.todo__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.todo__modal-content {
  position: fixed;
  width: 620px;
  height: 200px;
  background-color: var(--bg-app);
  padding: 20px;
  border-radius: 5px;
}

.todo__modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
}

.todo__modal-close {
  position: absolute;
  top: -3px;
  right: 10px;
  font-size: 32px;
  cursor: pointer;
}

.todo__modal-box {
  position: relative;
  display: inline-block;
  width: 100%;
}

.todo__modal-box::after {
  content: '▼';
  font-size: 24px;
  color: var(--text-color);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.todo__modal-box:hover::after {
  transform: translateY(-50%) scale(1.1);
  opacity: 0.7;
}

.todo__modal-priority {
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  color: var(--text-color);
  background-color: var(--bg-inputs);
  padding-right: 50px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo__modal-wrap {
  display: flex;
}

.todo__modal-desc {
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: var(--bg-inputs);
  color: var(--text-color);
  padding: 10px 60px 10px 10px;
}

.todo__modal-btn {
  position: absolute;
  right: 32px;
  top: 70%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  border-left: none;
}

.todo__modal-btn:hover {
  transform: translateY(-50%) scale(1.1);
  opacity: 0.7;
}

.todo__popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

.todo__popup {
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--text-color);
  position: relative;
  background: #171717;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .todo__popup {
    width: 620px;
    padding: 40px;
  }
}

.todo__popup-close {
  position: absolute;
  top: 2px;
  right: 14px;
  border: none;
  background: none;
  font-size: 32px;
  cursor: pointer;
}

.todo__popup-overlay.active {
  opacity: 1;
  visibility: visible;
}

.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  background: #1e1e1e;
  outline: none;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
}

input::placeholder {
  color: #fff;
}

.weather__search {
  position: relative;
}

.weather__search i {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 15px;
  color: #fff;
}

.weather__units {
  font-size: 1.5rem;
}

.weather__units span {
  cursor: pointer;
}

.weather__units span:first-child {
  margin-right: 0.5rem;
}

.weather__body {
  text-align: center;
  margin-top: 3rem;
}

.weather__datetime {
  margin-bottom: 2rem;
  font-size: 14px;
}

.weather__forecast {
  background: #1e1e1e;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.weather__icon img {
  width: 100px;
}

.weather__temperature {
  font-size: 1.75rem;
}

.weather__minmax {
  display: flex;
  justify-content: center;
}

.weather__minmax p {
  font-size: 14px;
  margin: 0.5rem;
}

.weather__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
}

.weather__card {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
}

.weather__card i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.weather__card p {
  font-size: 14px;
}

@media (max-width: 936px) {
  .container {
    width: 90%;
  }

  .weather__header {
    flex-direction: column;
  }

  .weather__units {
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .weather__info {
    grid-template-columns: none;
  }
}
