:root {
  --primary-color: #00bcff;
  --hover-color: #59a5e2;
  --danger-color: #f34336;
  --neutral-color: #cccccc;
  --bg-color-light: #e3e3e3;
  --bg-color-green: #88dac4;
  --text-color-light: #8e8e8e;
  --text-color-dark: #333;
  --white-color: #ffffff;

  --font-primary: "Graphik", sans-serif;

  --box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"), local("Graphik-Regular"),
    url("../fonts/graphik-regular.woff2") format("woff2"),
    url("../fonts/graphik-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik Bold"), local("Graphik-Bold"),
    url("../fonts/graphik-bold.woff2") format("woff2"),
    url("../fonts/graphik-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  padding: 20px;
}

button {
  font-family: var(--font-primary);
  font-weight: 700;
  cursor: pointer;
  background: none;
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.todo__title {
  font-size: 60px;
  text-align: center;
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .todo__title {
    font-size: 80px;
    margin: 50px 0;
  }
}

.todo__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.todo__nav {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .todo__nav {
    width: 620px;
  }
}

.todo__filter-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--bg-color-light);
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .todo__filter-list {
    flex-direction: row;
  }
}

.todo__filter-btn {
  height: 40px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0 20px;
  box-shadow: var(--box-shadow);
}

.todo__filter-btn:hover {
  background-color: var(--hover-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.todo__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .todo__form {
    width: 620px;
  }
}

.todo__wrap {
  display: flex;
}

.todo__input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: 2px solid var(--neutral-color);
  transition: border-color 0.3s ease-in-out;
}

.todo__input:focus {
  border-color: var(--primary-color);
}

.todo__submit-btn {
  width: 20%;
  height: 40px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.todo__submit-btn:hover {
  background-color: var(--hover-color);
}

.todo__select {
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--neutral-color);
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.todo__select:hover {
  border-color: var(--primary-color);
}

.todo__list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}

.todo__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid var(--neutral-color);
  border-radius: 10px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .todo__item {
    width: 620px;
    gap: 30px;
  }
}

.todo__done-btn {
  height: 40px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  white-space: nowrap;
}

.todo__done-btn:hover {
  background-color: #67eac2;
}

.todo__remove-btn {
  height: 40px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  white-space: nowrap;
}

.todo__remove-btn:hover {
  background-color: #ec6a75;
}

.todo__edit-btn {
  height: 40px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  white-space: nowrap;
}

.todo__edit-btn:hover {
  background-color: #566a79;
}

.todo__description {
  font-size: 20px;
  font-weight: 600;
  overflow-x: hidden;
  overflow-y: auto;
}

.todo__priority {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color-light);
  padding-left: 10px;
}

.todo__text--done {
  text-decoration: line-through;
}

.todo__item--hidden {
  display: none;
}

.todo__item--bg-green {
  background-color: var(--bg-color-green);
}

.todo__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.todo__actions {
  display: flex;
  gap: 20px;
}

.todo__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.todo__modal-content {
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 5px;
}

.todo__modal-form {
  display: flex;
  flex-direction: column;
}

.todo__modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: var(--text-color-dark);
}
